<div class="container pt-3">
  <div class="card mt-3">
    <div class="card-header">
      <h2>Historial de ordenes</h2>
    </div>
    <div class="card-body">
      <table class="table table-bordered table-striped table-hover">
        <thead>
          <tr>
            <th scope="col">Producto</th>
            <th scope="col">Precio unitario</th>
            <th scope="col">Imagen</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Comentario</th>
            <th scope="col">Estado</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let o of orders">
            <td>{{o.nombreProducto}}</td>
            <td style="color: green;">$RD {{o.precio}}</td>
            <td><img style="width: 120px; height: 100px;" src="{{o.foto}}" alt=""></td>
            <td>{{o.cantidad}}</td>
            <td>{{o.comentario}}</td>
            <td>{{o.estado}}</td>
            <td> <button class="btn btn-warning" data-toggle="modal" data-target="#ModalEdit" (click)="pickData(o)"><i class="fas fa-edit"></i></button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


<!-- Modal editar-->
<div class="modal fade" id="ModalEdit" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Actualizar estado del producto</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h4>Esta a punto de cambiar el estado de la orden <b>{{name}} - {{comment}}</b></h4>
        <div class="form-group">
          <label for="product"><b>Estado</b></label>
          <select class="form-control" [(ngModel)]="state">
            <option value="En espera">En espera</option>
            <option value="En preparacion">En preparacion</option>
            <option value="Enviado">Enviado</option>
            <option value="Entregado">Entregado</option>
           </select>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary"  data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-warning" (click)="putOrder()">Actualizar estado</button>
      </div>
    </div>
  </div>
</div>
